/* LE injected page */

.hrt_panel {
  margin-left: 30px;
  width: 520px;
  height: inherit;
  float: left;
  padding: 0 !important;
}

.hrt_panel_wrapper {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .15), 0 2px 3px rgba(0, 0, 0, .2);
  background-color: #fff;
  background-clip: padding-box;
  transition: box-shadow 83ms;
}

#hrt_wrapper_div {
  padding: 16px;
  box-sizing: inherit;
  /* overflow: auto; */
}

.hrt_msg #hrt_wrapper_div {
  height: calc(80vh - 26px);
}

.hrt_msg .con-slot-tabs {
  height: calc(80vh - 49px);
  margin-top: 2px;
  overflow: auto;
}

.hrt_msg .con-ul-tabs {
  margin-bottom: 4px;
}

.hrt_msg .con-tab {
  padding-left: 0px;
  padding-right: 0px;
}

.hrt_header {
  position: sticky;
  top: 0;
  background: lightgray;
  height: 26px;
  z-index: 10;
  padding: 0 5px;
}

.hrt_footer {
  position: sticky;
  bottom: 0;
  background: lightgray;
  height: 26px;
  z-index: 10;
  padding: 0 5px;
}

/* LE page corrections */

.neptune-grid.two-column {
  margin-right: 0px !important;
  margin-left: 0px !important;
  width: auto !important;
}

.neptune-grid.two-column .right-rail,
.search-results__list--cards.ember-view {
  display: none;
}

.ad-banner-container {
  visibility: hidden;
}

.ad-banner-container.is-header-zone {
  padding: 0px !important;
}

/* Main window */


/* ********* Spoiler ********* */

/* Косметические улучшения */
.spoiler details {
  position: relative;
  margin-bottom: 0.5rem;
  min-height: 1rem;
  max-height: 3rem;
  transition: min-height 0.15s linear, max-height 0.5s linear;
  -webkit-transition: min-height 0.15s linear, max-height 0.5s linear;
  will-change: max-height;
  overflow: hidden;
}

/* Заголовок */
.spoiler details summary {
  display: inline-block;
  padding-left: 1.5em;
  cursor: pointer;
  outline: 0;
  transition: color 0.12s;
  -webkit-transition: color 0.12s;
}

.spoiler details summary::-webkit-details-marker {
  display: none;
}

.spoiler details summary::-moz-list-bullet {
  list-style-type: none;
}

.spoiler details summary span {
  border-bottom: 1px currentColor dotted;
}

/* Добавление маркера */
.spoiler details summary::before {
  content: "";
  left: 0;
  top: 0.4em;
  position: absolute;
  background: url('data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjM0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNOC41OSAxNi4zNGw0LjU4LTQuNTktNC41OC00LjU5TDEwIDUuNzVsNiA2LTYgNnoiLz48L3N2Zz4=') no-repeat 50% 50% / 1em 1em;
  width: 1em;
  height: 1em;
  transition: transform 0.1s linear;
  -webkit-transition: transform 0.1s linear;
}

.spoiler details summary:hover {
  color: #d06c6c;
}

/* Контент, стоящий после заголовка */
.spoiler details summary~* {
  padding-left: 1.5em;
  opacity: 0;
  transition: opacity 0.15s linear;
  -webkit-transition: opacity 0.15s linear;
}

/* Открытый спойлер */
.spoiler details[open] {
  min-height: 2em;
  max-height: 20em;
}

.spoiler details[open] summary {
  color: #d06c6c;
}

.spoiler details[open] summary~* {
  opacity: 1;
}

.spoiler details[open] summary:before {
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

/* Фикс для IE 10-11 & Edge */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
  .spoiler details {
    max-height: none;
  }

  .spoiler details summary~* {
    max-height: 0;
    overflow: hidden;
    position: absolute;
  }

  .spoiler details summary:focus {
    color: #d06c6c;
  }

  .spoiler details summary:focus::before {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }

  .spoiler details summary:focus~* {
    max-height: 20em;
    position: static;
    opacity: 1;
  }
}

@supports (-ms-ime-align:auto) {
  .spoiler details {
    max-height: none;
  }

  .spoiler details summary~* {
    max-height: 0;
    overflow: hidden;
    position: absolute;
  }

  .spoiler details summary:focus {
    color: #d06c6c;
  }

  .spoiler details summary:focus::before {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  }

  .spoiler details summary:focus~* {
    max-height: 20em;
    position: static;
    opacity: 1;
  }
}

.spoiler p img {
  float: left;
  width: 3.25rem;
  margin: 0.25rem 0.5rem 0.25rem 0;
  opacity: 0.75;
}

