<div id="app" class=hrt_panel_wrapper>
    <!-- <header class="hrt_header">
        header
    </header> -->

    <div id="hrt_wrapper_div">

        <!-- top menu -->
        <vs-row>
            <vs-col vs-type="flex" vs-w="12">
                <div id="project-container">
                    Home
                    <br />
                    <h1>Hello from outside</h1>
                    <br />
                    <vs-button id="btn_click_in_html" color="danger" type="filled" onclick="alert('test clicked')">
                        Alert inside the html will not work</vs-button>
                    <br />
                    <br />
                    <vs-button id="btn_click_in_js" color="success" type="filled">Alert injected in the js file will work</vs-button>
                    <iframe id="frame" style="width: 100%; height: 1024px;"></iframe>
                </div>
            </vs-col>
        </vs-row>

        <br>
    </div>
    <!-- <footer class="hrt_footer">
        Off
    </footer> -->

</div>